*{
    margin: 0;
    width: 100%;
    padding: 0;
            
}
body{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.Banner{
    position: relative;
}



.Banner h1{
    
}

.Banner ul{
    visibility: hidden;
    display: flex;
    flex-direction: row;
    position: absolute;  
    list-style-type: none;
    align-items: flex-end;
    top: 0px;
    right: 0px;
}